# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/virtual_idol/main/dnn_model_2_0.onnx
/virtual_idol/.vs/virtual_idol/v16
/virtual_idol/packages
/virtual_idol/fastpointcloud/x64/Release
/virtual_idol/rgbd_pointcloud/x64/Release
/virtual_idol/main/x64/Release
/virtual_idol/eigen_test/x64/Release
/virtual_idol/camera_space_transform_sample/x64/Release
/virtual_idol/camera_space_transform_sample/dnn_model_2_0.onnx
/virtual_idol/eigen_test/dnn_model_2_0.onnx
/virtual_idol/x64/Release/face_capture
/virtual_idol/x64/Release/__pycache__
/virtual_idol/x64/Release/dnn_model_2_0.onnx
/kinect_scan/.vs/kinect_scan/v16
/kinect_scan/mocap/x64/Release
/kinect_scan/x64/Release
/livescan/.vs/LiveScan/v16
/livescan/bin
/livescan/ICP/x64
/livescan/LiveScanClient/x64
/livescan/packages
/livescan/LiveScanClient/dnn_model_2_0.onnx
/livescan/LiveScanPlayer/obj
/livescan/LiveScanServer/obj
/livescan/docs/manual.pdf
/virtual_idol/x64/Release/.idea
/virtual_idol/x64/Release/models
/virtual_idol/x64/Release/test_installer.spec
/virtual_idol/x64/Release/stream_interface.spec
/virtual_idol/x64/Release/runner.spec
/virtual_idol/x64/Release/rgbd_pointcloud.pdb
/virtual_idol/x64/Release/rgbd_pointcloud.ipdb
/virtual_idol/x64/Release/rgbd_pointcloud.iobj
/virtual_idol/x64/Release/noemotion_runner.spec
/virtual_idol/x64/Release/main.pyd
/virtual_idol/x64/Release/main.pdb
/virtual_idol/x64/Release/main.ipdb
/virtual_idol/x64/Release/main.iobj
/virtual_idol/x64/Release/main.exp
/virtual_idol/x64/Release/k4arecord.pdb
/virtual_idol/x64/Release/k4a.pdb
/virtual_idol/x64/Release/helloworld.spec
/virtual_idol/x64/Release/build/stream_interface
/virtual_idol/x64/Release/build/runner
/livescan/LiveScanClient
/virtual_idol/x64/Release
